body {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(224, 151, 220), rgb(212, 253, 255));
}

.item1{
    background-image: url("kuvat/Etusivun.PNG");
    height: 100%; 
    width: auto;
    padding: 100px;
    color: aliceblue;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.responsive{
    margin: auto;
}

.item3{
    margin: auto;
    text-align: center;
    background-color: rgb(255, 205, 255);
    max-width: 80%
}

.item4{
    text-align: center;
    color: aliceblue;
    max-width: 100%;
}

.body {
    background-color: rgb(0, 0, 0);
}

.item2 {
    width: 33.3%;
}

nav{
    background-color: #000000;
}

.nav-item {
    background-color: #ffbcf4;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
}

.nav-item2 {
    background-color: #f700ff;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 5px;
    width: 220px;
    text-decoration: none;
}

.navbar-nav {
    text-align: center;
    align-items: center;
    align-content: center;
    color: rgb(167, 234, 255);
}

.navbar navbar-expand-sm navbar{
    background-color: rgb(130, 132, 238);
    margin: auto;
}

.navbar-toggler-icon {
    color: rgb(29, 28, 29);
}

.black {
    background-color: #ffa7e2;
    width: 100%;
}

.black1 {
    background-color: #ffa7e2;
    width: 100%; 
}

h2 {
    color: aliceblue;
}

.row1 {
    background-color: rgb(108, 155, 152);
}

.card-body {
    background-color: rgb(135, 201, 197);
}

.info {
    text-align: left;
}

.download {
    text-align: center;
}   

.nav-item2 {
    padding: 10px;
}

.card-img-top {
    height: 200px;
    width: 200px;
}

.nav-link2 {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
}

.nav-link2:hover {
    color: #000000;
    text-decoration: none;
}

.nav-link1 {
    color: #000000;
    text-decoration: none;
}

.nav-link1:hover {
    color: #ff00d0;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media screen and (max-width: 700px) {
    .img-thumbnail {
        width: 110px;
        height: 100px; 
    }
    .item4{
        width: 100%;
    }
    .nav-item2 {
        border-radius: 0%;
    } 
    .card-group {
        width: 100%;
    }
    .item3 {
        width: 100%;
    }
    .item1 {
        width: 100%;
    }
    .container p-5 my-5 border {
        width: 100%;
    }
}