body {
    height: 100%;
    width: 100%;
    background-image: url("kuvat/back.png");

}

.info {
    padding: 10px;
}

.responsive{
    margin: auto;
}

.item3{
    margin: auto;
    text-align: center;
    background-color: rgb(254, 220, 254);
    width: 80%
}

.body {
    background-color: rgb(0, 0, 0);
}

nav{
    background-color: #000000;
}

.nav-item2 {
    background-color: #ff0090;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 25px;
    border-radius: 5px;
    width: 220px;
    text-decoration: none;
    display: inline-block;
}

.navbar-nav {
    text-align: center;
    align-items: center;
    align-content: center;
    color: rgb(167, 234, 255);
}

.navbar navbar-expand-sm navbar{
    background-color: rgb(130, 132, 238);
    margin: auto;
}

.navbar-toggler-icon {
    color: rgb(29, 28, 29);
}

.black {
    background-color: #ffa7e2;
    color: #000000;
    width: 100%;
}

h2, h5 {
    color: rgb(0, 0, 0);
}

.card-body {
    background-color: rgb(244, 158, 202);
    color: rgb(0, 0, 0);
}

.info {
    text-align: left;
}

.download {
    text-align: center;
    color: pink;
}   

.nav-item2 {
    padding: 10px;
}

.card-img-top {
    height: 200px;
    width: 200px;
    border: #e081a4;
    border-style: solid;
}

.nav-link2 {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
}

.nav-link2:hover {
    color: #000000;
    text-decoration: none;
}

.cv {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
}

.cv:hover{
    color: rgb(222, 89, 111);
    text-decoration: none;
}


.nav-link1 {
    color: #000000;
    text-decoration: none;
}

.nav-link1:hover {
    color: #ff00d0;
    text-decoration: none;
}

.nav-links {
    color: #000000;
    text-decoration: none;
    padding: 10px;
}

.nav-links:hover {
    color: #ffffff;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
    .img-thumbnail {
        width: auto;
        height: auto; 
    }
    .nav-item2 {
        border-radius: 0%;
    } 
    .card-group {
        width: 100%;
    }
    .item3 {
        width: 100%;
    }
    .container p-5 my-5 border {
        width: 100%;
    }
    .col {
        display: block;
    }
    body {
        padding: 0% ;
    }
}