.item1 { grid-area: header; }
.navbar { grid-area: menu;}
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main right right'
      'menu footer footer footer footer footer';
    grid-gap: 10px; 
    padding: 5px;
}

.grid-container > div {
  background-color: mistyrose;
  text-align: center;
  padding: 50px ;
  font-size: 25px;
  margin: 10px;
}

body {
  background-image: url("tausta.jpg");
  background-position: 100%;
  background-attachment: fixed;
  padding: 100px;
}

h5 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img, img:hover{
  border-radius: 50%;
  opacity: 0.5;
}

img:hover {
  opacity: 1.0;
}

h2 {
  text-shadow: black 2px 2px 4px;
}

h2, td {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.table{
  border-collapse: collapse;
  width: 100%;
}

th, tr{
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: white;
}

.navbar, .navbar a{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: darkslategray;
  float: left;
  display: block;
  color: white;
  text-align: left;
  padding: 5px 10px;
  text-decoration: none;
}

.navbar a:hover{
  background-color: darkcyan;
}

@media screen and (max-width: 1000px){
  body, .grid-container, .grid-container > div, img  {
    display: grid;
    grid-template-areas:
      'header'
      'main'
      'menu'
      'footer';
    grid-gap: 10px;
    background-color: darkslategray;
    padding: 10px; 
    font-size: 16px;
  }
}
  
@media screen and (max-width: 480px){
  body, .grid-container, .grid-container > div, img {
    display: flex;
    flex-direction: column;
    background-color: mistyrose;
    padding: 3px;
    font-size: 10px;
    width: 330px;
    background-image: none;
}
  aside {
    display: none;
    background-image: none;
  }
}

@media screen and (max-width: 320px){
  body{
    width: 320px;
  }
}